<!DOCTYPE html>
{% extends base_page %}
{% block body %}
<body>
	<div class="container">
		<div class="row clearfix">
			<div class="col-md-12 column">
				<div class="page-header">
					<div class="row clearfix">
						<div class="col-md-9 column">
							<h1>
								Photo Wall <small>A better way for photo sharing</small>
							</h1>
						</div>
						<div class="col-md-3 column">
							<h1>
								<a class="btn" href="#">{{ user }}</a>
								<a class="btn btn-primary" href="{{ logout_page }}">Quit</a>
							</h1>
							<!-- Modal (Upload Photo) -->
							<div class="modal fade" id="myUploadPhotoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
								<div class="modal-dialog">
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
											<h4 class="modal-title" id="myModalLabel">Upload Photo</h4>
										</div>

										<div class="modal-body">                
											<form role="form" id="photoForm" action="{{ upload_pic }}" method="post" enctype="multipart/form-data">                  
												{% csrf_token %}
												<div class="form-group">
													<label for="input-img">Photo</label>
													<div id="preview"></div>
													<input type="file" accept="image/*" id="input-img" name='pic' onchange="preview(this)">
													<p class="help-block">Select a photo</p>
												</div>
												<div class="form-group">
													<label for="img-title">Title of photo</label>
													<input type="text" class="form-control" id="img-title" name='title' placeholder="input the title of your photo">
												</div>
												<div class="form-group">
													<label for="image-dsr">Description of photo</label>
													<textarea id="image-dsr" class="form-control" rows="3" name='desc' placeholder="briefly describe your photo" ></textarea>
												</div>
											</form>
										</div>

										<div class="modal-footer">
											<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
											<button type="submit" id="submitPhotoBtn" class="btn btn-default" data-dismiss="modal">Submit</button>
										</div>
									</div><!-- /.modal-content -->
								</div><!-- /.modal-dialog -->
							</div><!-- /.modal -->

							<!-- Modal (Create Wall)-->
							<div class="modal fade" id="myCreateWallModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
								<div class="modal-dialog">
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
											<h4 class="modal-title" id="myModalLabel">Create Picture Wall</h4>
										</div>

										<div class="modal-body">                
											<form role="form" id="wallForm" action="{{ create_pw }}" method="post" enctype="multipart/form-data">
												{% csrf_token %}
												<div class="form-group">
													<label for="img-title">Name of Picture Wall</label>
													<input type="text" class="form-control" id="img-title" name='name' placeholder="input the name of picture wall">
												</div>
												<div class="form-group">
													<label for="image-dsr">Description of Picture Wall</label>
													<textarea id="image-dsr" class="form-control" rows="3" name='description' placeholder="briefly describe your picture wall" ></textarea>
												</div>
											</form>
										</div>

										<div class="modal-footer">
											<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
											<button type="submit" id="submitWallBtn" class="btn btn-default" data-dismiss="modal">Submit</button>
										</div>
									</div><!-- /.modal-content -->
								</div><!-- /.modal-dialog -->
							</div><!-- /.modal -->        
						</div>
					</div>
				</div> <!-- /.page-header -->
				<div class="bs-example">
					<ul class="nav nav-tabs">
						<li class="active"><a data-toggle="tab" href="#sectionA">Pictures</a></li>
						<li><a data-toggle="tab" href="#sectionB">Photowall</a></li>
						<li class="dropdown pull-right">
						<a href="#" data-toggle="dropdown" class="dropdown-toggle">Dropdown<strong class="caret"></strong></a>
						<ul class="dropdown-menu">
							<li>
							<a data-toggle="modal" data-target="#myUploadPhotoModal">Upload</a>
							</li>
							<li class="divider">
							</li>
							<li>
							<a data-toggle="modal" data-target="#myCreateWallModal">Create Wall</a>
							</li>
						</ul>
						</li>
					</ul>

					<br/>

					<div class="tab-content">
						<div id="sectionA" class="tab-pane fade in active">
							<!-- row -->
							<div class="row">
								{% for pic in pics %}
								<div class="col-md-4">
									<div class="thumbnail">
										<img alt="300x200" src="{{ pic_image }}{{ pic.file_name }}" />
										<div class="caption">
											<h3>
												{{ pic.name}}
											</h3>
											<p>
											{{ pic.desc}}
											</p>
											<p>
											<a class="btn btn-primary" href="{{ pic_info_page }}{{ pic.file_name }}">进入</a>
											<a type="button" class="btn btn-success">Collect</a>
											<a type="button" class="btn btn-danger" href="{{ delete_pic }}{{ pic.file_name}}">Delete</a>
											</p>
										</div>
									</div>
								</div>
								{% endfor %}
							</div> <!-- /.row -->
						</div>
						<div id="sectionB" class="tab-pane fade">
							<!-- row -->
							<div class="row">
								{% for pw in pws %}
								<div class="col-md-4">
									<div class="thumbnail">
										<img alt="300x200" src="{{ STATIC_URL }}images/background.jpg" />
										<div class="caption">
											<h3>
												{{ pw.name }}
											</h3>
											<p>
											{{ pw.description }}
											</p>
											<p>
											<a class="btn btn-primary" href="{{ pw_info_page }}{{ pw.id }}">进入</a>
											<a type="button" class="btn btn-success">Collect</a>
											<a type="button" class="btn btn-danger" href="{{ delete_pw }}{{ pw.id }}">Delete</a>
											</p>
										</div>
									</div>
								</div>
								{% endfor %}
							</div> <!-- /.row -->
						</div>
					</div>
				</div>
			</div> <!-- /.col-md-12 -->
		</div> <!-- /.row -->
	</div> <!-- /.container -->


</body>
{% endblock %}
