{% extends base_page %}

{% block extrahead %}
<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
<script src="js/html5shiv.js"></script>
<![endif]-->

<link rel="stylesheet" href="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/css/bootstrap.min.css">
<link href="{{STATIC_URL}}css/style.css" rel="stylesheet">
{% endblock %}

{% block extrabody %}
<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<div class="row clearfix">
				<div class="col-md-8 column">
					<blockquote>
						<p>
						{{ pic.name }}
						</p><small>{{ pic.author }}</small>
					</blockquote>
					<img alt="140x140" src="/picwall/picture/image/{{ pic.pid }}/" class="img-thumbnail myImageSize" />
				</div>
				<div class="col-md-4 column">
					<div class="detailBox">
						<div class="titleBox">
							<label>Comment Box</label>
							<button type="button" class="close" aria-hidden="true">&times;</button>
						</div>
						<div class="commentBox">  
							<p class="taskDescription">{{ pic.pic_desc }}</p>
						</div>
						<div class="actionBox">
							<form class="form-inline" action={{ comment }} method='POST' role="form">
								{% csrf_token %}
								<input type='text' name='pid' value='{{ pic.pid }}' style="display:none;"/>
								<div class="form-group">
									<input class="form-control" type="text" name='content' placeholder="Your comments" />
								</div>
								<div class="form-group">
									<button class="btn btn-default" type='submit'>Add</button>
								</div>
							</form>
							<ul class="commentList">
								{% for comment in comments %}
								<li>
								<div class="commenterImage">
									<img src="http://lorempixel.com/50/50/people/6" />
								</div>
								<div class="commentText">
									<p class="">{{ comment.content }}</p> <span class="date sub-text">on {{ comment.published_date }}</span>
								</div>
								</li>
								{% endfor %}
							</ul>
							<a class="glyphicon glyphicon-hand-down btn" href="#">more</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
