{% extends 'picwall/base.html' %}
{% load staticfiles %}

{% block extrahead %}
<script src={% static 'js/custom/picture.js' %}></script>
{% endblock %}

{% block extranav %}
<li class="dropdown">
<a href="#" class="dropdown-toggle" data-toggle="dropdown">photo manage<span class="caret"></span></a>
<ul class="dropdown-menu" role="menu">
	<li><a data-toggle="modal" data-target="#addLabelModal">Add Label</a></li>
	<li><a data-toggle="modal" data-target="#myUploadPhotoModal">Upload</a></li>
</ul>
</li>
{% endblock %}

{% block extrabody %}
<!-- Modal (Upload Photo) -->
<div class="modal fade" id="myUploadPhotoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="myModalLabel">Upload Photo</h4>
			</div>

			<div class="modal-body">                
				<form role="form" id="photo-form" action={% url 'upload pic' %} method="post" enctype="multipart/form-data">
					{% csrf_token %}
					<div id="upload-warn">
						<div class="alert alert-warning alert-dismissible fade in" role="alert" >
							<button type="button" class="close" id='upload-warn-cancel-btn'><span aria-hidden="true" >&times;</span><span class="sr-only">Close</span></button>
							<strong>Warning!</strong> please input the name.
						</div>
					</div> 
					<div class="form-group">
						<label for="input-img">Photo</label>
						<div id="preview"></div>
						<input type="file" accept="image/*" name="image" id="input-img" onchange="preview(this)">
						<p class="help-block">Select a photo</p>
					</div>
					<div class="form-group">
						<label for="img-title">Title of photo</label>
						<input type="text" class="form-control" id="img-title" name="name" placeholder="input the title of your photo"/>
					</div>
					<div class="form-group">
						<label for="image-dsr">Description of photo</label>
						<textarea id="image-dsr" class="form-control" rows="3" name="description" placeholder="briefly describe your photo" ></textarea>
					</div>
					<div class="form-group">
						<select class="form-control" name="label">
							{% for label in labels.all %}
							<option value={{ label.id }}> {{ label.name }}</option>
							{% endfor %}
						</select>
					</div>
				</form>
			</div>

			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button type="submit" id="photo-submit-btn" class="btn btn-default">Submit</button>
			</div>
		</div> <!-- /.modal-content -->
	</div> <!-- /.modal-dialog -->
</div> <!-- /.modal -->

<!-- Edit modal -->
<div class="modal fade change-label" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel2" aria-hidden="true"/>
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="myModalLabel2">Edit Photo</h4>
			</div>

			<div class="modal-body">                
				<form role="form" id="edit-form" action={% url 'edit pic' %} method="post" enctype="multipart/form-data">
					{% csrf_token %}
					<div id="edit-warn">
						<div class="alert alert-warning alert-dismissible fade in" role="alert" >
							<button type="button" class="close" id='edit-warn-cancel-btn'><span aria-hidden="true" >&times;</span><span class="sr-only">Close</span></button>
							<strong>Warning!</strong> please input the name.
						</div>
					</div> 
					<div class="form-group">
						<label for="edit-title">Title of photo</label>
						<input type="text" class="form-control" id="edit-title" name="name" placeholder="input the title of your photo"/>
					</div>
					<div class="form-group">
						<label for="edit-dsr">Description of photo</label>
						<textarea id="edit-dsr" class="form-control" rows="3" name="description" placeholder="briefly describe your photo" ></textarea>
					</div>
					<div class="form-group">
						<select class="form-control" name="label">
							{% for label in labels.all %}
							<option value={{ label.id }}> {{ label.name }}</option>
							{% endfor %}
						</select>
					</div>
					<input id="edit-pid" type="hidden" name="pid" value="">
				</form>
			</div>

			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button type="submit" id="edit-submit-btn" class="btn btn-default">Submit</button>
			</div>
		</div> <!-- /.modal-content -->
	</div> <!-- /.modal-dialog -->
</div>

<!-- Add label modal -->
<div id="addLabelModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="addNewLabel" aria-hidden="true">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">

			<div class="modal-header">
				<h4 class="modal-title" id="new-label-title">New Label</h4>
			</div>

			<div class="modal-body">
				<form role="form" id="add-label-form" action={% url 'create label' %} method="post">
					{% csrf_token %}
					<div id="label-warn">
						<div class="alert alert-warning alert-dismissible fade in" role="alert" >
							<button type="button" class="close" id='label-warn-cancel-btn'><span aria-hidden="true" >&times;</span><span class="sr-only">Close</span></button>
							<strong>Warning!</strong> please input the name.
						</div>
					</div> 
					<div class="modal-body">
						<input type="text" class="form-control" id="new-label" name="name" placeholder="input the new label"/>
					</div>
				</form>
			</div>

			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button type="submit" id="add-label-btn" class="btn btn-default">Submit</button>
			</div>  
		</div>
	</div>
</div> <!-- /.Add label modal -->

<!-- container -->
<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">

			<ul class="breadcrumb">
				{% for label in labels.all %}
				<li><a data-toggle="tab" href="#label-{{ label.id }}">{{ label.name }}</a></li>
				{% endfor %}
			</ul>

			<!-- tab-content -->
			<div class="tab-content">
				{% for label in labels.all %}
				<div id="label-{{ label.id }}" class="tab-pane fade{% if label.name == 'default' %} in active{% endif %}">
					<!-- row -->
					{% for pic in label.label_pics.all %}
					{% cycle "<div class='row'>" "" "" ""%}
						<div class="col-md-3">
							<div class="thumbnail">
								<img class="new-img-circle" alt="100x100" src={% url 'pic image' pic.id %}>
								<div class="caption">
									<a class="btn btn-primary btn-sm" href={% url 'pic info' pic.id %}>Access</a>
									<a class="btn btn-success btn-sm my-btn-edit" data-toggle="modal" data-target=".change-label">Edit</a>
									<input type="hidden" name="pid" value="{{ pic.id }}">
									<a type="button" class="btn btn-danger btn-sm" href={% url 'delete pic' pic.id %}>Delete</a>
								</div>
							</div>
						</div> <!-- /.col-md-3 -->
						{% if forloop.counter == label.label_pics.all.count %}
					</div>
					{% else %}
					{% cycle "" "" "" "</div>"%}
				{% endif %}
				{% endfor %}
			</div>
			{% endfor %}
		</div> <!-- /.tab-content -->

	</div> <!-- /.col-md-12 column -->
</div> <!-- /.row clearfix -->
</div>  <!-- /.container -->

{% endblock %}
